@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.testp2{
  color: #85139c;
}

.spanTextCss{
  @apply bg-[#186f74]  text-xl transition hover:bg-blue-200 md:transition duration-700
 
}

.lineColor{
  @apply bg-[#186f74]
}